#root {
  background-color: #F4F6F9;
  height: 100vh;
}

.todosCompleted {
  text-align: center;
  background-color: #E4E7EB;
  height: 100vh;
  padding: 20px;  
}

.todosPending {
  text-align: center;
  padding: 20px;
  background-image: url("../images/backgr-todoList.jpg");
}

img {
  border-radius: 30px;
  width:60%;
  height: auto;
}

@media screen and (max-width: 800px) {
  img {
    display:none;
  }

  .todosPending {
    background-image: none;
  }

  .todosCompleted {
    background-image: url("../images/lazy2.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
  .todosPending {
    color: gray;
  }
}
