#root {
  background-color: #F4F6F9;
  height: 100vh;
}

.todosCompleted {
  text-align: center;
  background-color: #E4E7EB;
  height: 100vh;
  padding: 20px;  
}

.todosPending {
  text-align: center;
  padding: 20px;
  background-image: url("../images/backgr-todoList.jpg");

  .listTodosPending {
    background-color: white;
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.09);
    padding: 5px;
    border: 0px 30px;
    list-style-type: none;
  }
}

img {
  border-radius: 30px;
  width:60%;
  height: auto;
}

// Uso de media queries

@media screen and (max-width: 800px) {
  img {
    display:none;
  }

  .todosPending {
    background-image: none;
  }

  .todosCompleted {
    background-image: url("../images/lazy2.jpg");
    background-size: cover;
  }
  
}

@media screen and (min-width: 800px) and (max-width:1000px) {
  .todosPending {
    color: gray;
  }

}

// Pseudoelementos

// ::selection me permite acceder al elemento en el momento que le paso el click para seleccionarlo en la web
// En este caso, quiero cambiarle el color de fondo.

.todoItem::selection {
  background-color: gray;
}

// Los pseudoelementos se consideran HIJOS del elemento principal

.todoItem:hover {
  cursor: pointer;
  &::after {
    content: " >.< "
  }
}
